.box
  %pre
    %code#clip-id.html 
      &= '<html>'
      = '<br>'
  %br
  %a.button.ics-clipboard{"data-clipboard-target" => "#clip-id"}


-#BADGES
&= '<span class="badge is-dark">Dark</span>'
= '<br>'
&= '<span class="badge is-primary">Primary</span>'
= '<br>'
&= '<span class="badge is-accent">Accent</span>'
= '<br>'
&= '<span class="badge is-success">Success</span>'
= '<br>'
&= '<span class="badge is-alert">Alert</span>'
= '<br>'
&= '<span class="badge is-secondary">Secondary</span>'
= '<br>'
&= '<span class="badge is-dark is-small">Small</span>'
= '<br>'
&= '<span class="badge is-primary is-medium">Medium</span>'
= '<br>'
= '<br>'
&= '<span class="badge is-accent is-large">Large</span>'
= '<br>'
&= '<a href="#">Inbox <span class="badge">42</span></a>'
= '<br>'
&= '<button class="button is-primary" type="button"> Messages <span class="badge">4</span>'
= '<br>'
&= '</button>'



&= '<div class="burst"><div class="burst-12 is-danger"><p>Red</p></div></div>'
= '<br>'
&= '<div class="burst"><div class="burst-12 is-primary"><p>Primary</p></div></div>'
= '<br>'
&= '<div class="burst"><div class="burst-12 is-accent"><p>Accent</p></div></div>'
= '<br>'
&= '<div class="burst"><div class="burst-12 is-success"><p>Success</p></div></div>'
= '<br>'
&= '<div class="burst"><div class="burst-12 is-alert"><p>Alert</p></div></div>'
= '<br>'
&= '<div class="burst"><div class="burst-12 is-secondary"><p>Secondary</p></div></div>'
= '<br>'
&= '<div class="burst"><div class="burst-12 is-dark"><p>Dark</p></div></div>'
= '<br>'
&= '<div class="burst"><div class="burst-12 is-black"><p>black</p></div></div>'
= '<br>'
&= '<div class="burst"><div class="burst-12 is-light"><p>light</p></div></div>'
= '<br>'
  

&= '<article class="message">'
= '<br>  '
&= '<div class="message-header"></div>'
= '<br>  '
&= '<div class="message-body"></div>'
= '<br>'
&= '</article>'
= '<br>'
= '<br>'
&= '<article class="message is-primary">'
= '<br>   '
&= '<div class="message-body"></div>'
= '<br>'
&= '</article>'



&= '<article class="message">'
= '<br>  '
&= '<div class="message-header">Hello World</div>'
= '<br>  '
&= '<div class="message-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.</div>'
= '<br>'
&= '</article>'


&= '<div class="notification">'
= '<br>  '
&= '<button class="delete"></button>'
= '<br>  '
&= 'Lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor sit amet, consectetur adipiscing elit'
= '<br>'
&= '</div>'
= '<br>'
= '<br>'
&= '<div class="notification is-primary">'
= '<br>  '
&= '<button class="delete"></button>'
= '<br>  '
&= 'Primar lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor sit amet, consectetur adipiscing elit'
= '<br>'
&= '</div>'
= '<br>'
= '<br>'
&= '<div class="notification is-accent">'
= '<br>  '
&= '<button class="delete"></button>'
= '<br>  '
&= 'accent lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum dolor sit amet, consectetur adipiscing elit'
= '<br>'
&= '</div>'
= '<br>'
= '<br>'
&= '<pre>'
= '<br>    '
&= '<code id="xxx" class="html"></code>'
= '<br>'
&= '</pre>'
  
&= '<div class="notification is-primary">'
= '<br>  '
&= '  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend at velit et sodales. Praesent pretium tellus at lacinia condimentum.'
= '<br>'
&= '</div>'
= '<br>'
&= '<div class="notification is-success">'
= '<br>  '
&= '  Praesent quis massa ex. Vestibulum erat neque, ultricies et accumsan a, ultrices ut orci.'
&= '</div>'
= '<br>'
&= '<div class="notification is-secondary">'
= '<br>  '
&= '  Nullam sed placerat erat. Mauris non leo placerat, consequat arcu eu, mollis leo. Fusce nec feugiat quam, nec elementum nibh.'
= '<br>'
&= '</div>'


-#COMLUMNS

&= '<div class="columns">'  
= '<br>  '
&= '<div class="column"></div>'    
= '<br>  '
&= '  <div class="column"></div>'
= '<br>  '
&= '  <div class="column"></div>'
= '<br>  '
&= '  <div class="column"></div>'    
= '<br>  '
&= '  <div class="column"></div>'    
= '<br>  '
&= '  <div class="column"></div>'  
= '<br>  '
&= '  <div class="column"></div>'
= '<br>  '
&= '  <div class="column"></div>' 
= '<br>  '
&= '  <div class="column"></div>'
= '<br>'
&= '</div>'	  

-#Flexview
<code id="flx2" class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"columns</span></span><span class="code-gapless"></span><span class="code-stacked"></span><span class="code-mobile"></span><span class="code-desktop"></span><span class="flex-direction"></span><span class="flex-wrap"></span><span class="justify-content"></span><span class="align-items"></span><span class="align-content"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>  
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-1"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>    
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-2"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>2<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-3"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>3<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-4"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>4<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>    
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-5"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>5<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>    
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-6"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>6<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>   
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-7"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>7<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-8"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>8<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>  
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-9"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>9<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-10"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>10<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-11"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>11<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>   
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-12"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>12<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>    
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-13"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>13<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>   
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-14"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>14<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-15"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>15<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>  
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-16"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>16<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-17"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>17<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"column</span></span><span class="flv-col-18"></span><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span>18<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span><br><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>	  
</code>


&= '<div id="isotope-list">'
= '<br>	'
&= '<div class="item is-1-2"><div class="notification is-alert">1</div></div>'
= '<br>	'
&= '	<div class="item is-1-4"><div class="box content is-light">2</div></div>'
= '<br>	'
&= '	<div class="item is-1-4"><div class="notification is-accent">3</div></div>'
= '<br>	'
&= '	<div class="item is-1-4"><div class="notification is-dark">4</div></div>'
= '<br>	'
&= '	<div class="item is-1-4"><div class="notification is-light">5</div></div>'
= '<br>	'
&= '	<div class="item is-1-4"><div class="notification is-success">6</div></div>'
= '<br>	'
&= '	<div class="item is-1-2"><div class="notification is-secondary">7</div></div>'
= '<br>	'
&= '	<div class="item is-1-2"><div class="notification is-alert">8</div></div>'
= '<br>	'
&= '	<div class="item is-1-4"><div class="box content is-light">9</div></div>'
= '<br>	'
&= '	<div class="item is-1-4"><div class="notification is-accent">10</div></div>'
= '<br>	'
&= '	<div class="item is-1-4"><div class="notification is-light">11</div></div>'
= '<br>	'
&= '	<div class="item is-1-4"><div class="notification is-success">12</div></div>'
= '<br>	'
&= '	<div class="item is-1-4"><div class="notification is-dark">13</div></div>'
= '<br>	'
&= '	<div class="item is-1-4"><div class="notification is-secondary">14</div></div>'
= '<br>	'
&= '	<div class="item is-1-4"><div class="notification is-accent">15</div></div>'
= '<br>'
&= '</div>'


&= '<div class="box">'
= '<br> '
&= '<p></p>'
= '<br>'
&= '</div>'

&= '<article class="media">'
= '<br>'
&= '  <figure class="media-left structure-item" title="media-left">'
= '<br>    '
&= '<p class="square is-64x64"> <img src=""> </p>'
= '<br>  '
&= '</figure>'
= '<br>  '
&= '<div class="media-content structure-item is-structure-right" title="media-content">'
= '<br>    '
&= '<div class="content">'
= '<br>      '
&= '<p><strong></strong> <small></small><br> <small></small></p>'
= '<br>    '
&= '</div>'
= '<br>    '
&= '<nav class="level">'
= '<br>      '
&= '<div class="level-left">'
= '<br>        '
&= '<a class="level-item"><span class="icon is-small"><i class="ics-headphones"></i></span></a>'     
= '<br>        '
&= '<a class="level-item"><span class="icon is-small"><i class="ics-link"></i></span></a>'
= '<br>        '
&= '<a class="level-item"><span class="icon is-small"><i class="ics-download"></i></span></a>'
= '<br>       '
&= '</div>'
= '<br>     '
&= '</nav>'
= '<br>  '
&= '</div>'
= '<br>'
&= '</article>'



&= '<a class="button">Button</a>'
= '<br>'
&= '<a class="button is-white">White</a>'
= '<br>'
&= '<a class="button is-light">Light</a>'
= '<br>'
&= '<a class="button is-dark">Dark</a>'
= '<br>'
&= '<a class="button is-black">Black</a>'
= '<br>'
&= '<a class="button is-link">Link</a>'
= '<br>'
&= '<a class="button is-primary">Primary</a>'
= '<br>'
&= '<a class="button is-danger">Red</a>'
= '<br>'
&= '<a class="button is-accent">Accent</a>'
= '<br>'
&= '<a class="button is-success">Success</a>'
= '<br>'
&= '<a class="button is-alert">Alert</a>'
= '<br>'
  
&= '<a class="button is-primary">' 
= '<br>   '
&= '<i class="ics-bones"></i><span>Throw Dice</span>' 
= '<br>'
&= '</a>' 
= '<br>'
= '<br>'
&= '<a class="button is-secondary is-outlined">' 
= '<br>   '
&= '<i class="ics-headphones"></i><span>Listen</span>' 
= '<br>'
&= '</a>' 
= '<br>'
= '<br>'
&= '<a class="button is-secondary is-outlined">' 
= '<br>   '
&= '<i class="ics-lightbulb"></i><span>Get Ideas</span>' 
= '<br>'
&= '</a>' 
= '<br>'
= '<br>'
&= '<a class="button is-success">' 
= '<br>   '
&= '<i class="ics-circlecheck"></i>OK</a>' 
= '<br>'
&= '</a>' 
= '<br>'
= '<br>'
&= '<a class="button is-small">Small</a>'
= '<br>'
&= '<a class="button">Normal</a>'
= '<br>'
&= '<a class="button is-medium">Medium</a>'
= '<br>'
&= '<a class="button is-large">Large</a>'
= '<br>'
  
&= '<a class="button is-inverted">Inverted</a>'
= '<br>'
&= '<a class="button is-outlined">Outlined</a>'
= '<br>'
&= '<a class="button is-disabled">Disabled</a>'
= '<br>'
  
&= '<p class="control is-grouped">'
= '<br>'
&= '  <a class="button is-primary">Primary</a>' 
= '<br>'
&= '  <a class="button">Generic</a>'
= '<br>'
&= '  <a class="button is-secondary">Secondary</a>'
= '<br>'
&= '</p>'
= '<br>'
&= '<p class="control has-addons">'
= '<br>'
&= '  <a class="button"><span>Left</span></a>'
= '<br>'
&= '  <a class="button"> <span>Center</span></a>' 
= '<br>'
&= '  <a class="button"> <span>Right</span></a>'
= '<br>'
&= '</p>'

&= '<nav class="nav has-shadow">'
= '<br>'
&= '  <div class="container">'
= '<br>    '
&= '<div class="nav-left">'
= '<br>      '
&= '<a><img width="120" height="60" src="http://media.casadereyes.net/xfr/casa-logo.png"></a>'
= '<br>	'
&= '</div>'
= '<br>    '
&= '<ul class="nav-right nav-menu">'
= '<br>      '
&= '<li class="nav-item is-primary"><a>Portfolio</a></li>'
= '<br>      '
&= '<li class="nav-item is-primary"><a>Lab</a></li>'
= '<br>      '
&= '<li class="nav-item is-primary"><a>Photos</a>'
= '<br>        '
&= '<ul>'
= '<br>          '
&= '<li><a>Travel</a></li>'
= '<br>          '
&= '<li><a>Abstract</a></li>'
= '<br>          '
&= '<li><a>Etc</a></li>'
= '<br>        '
&= '</ul>'
= '<br>      '
&= '</li>'
= '<br>      '
&= '<li class="nav-item is-primary"><a>Mixes</a>'
= '<br>        '
&= '<ul>'
= '<br>          '
&= '<li><a>Twenty Fifteen</a></li>'
= '<br>          '
&= '<li><a>Twenty Fourteen</a></li>'
= '<br>          '
&= '<li><a>Twenty Thirteen</a></li>'
= '<br>        '
&= '</ul>'
= '<br>      '
&= '</li>'
= '<br>      '
&= '<li class="nav-item"><a><div class="button is-primary"><span class="icon"><i class="ics-question"></i></span></div></a></li>'
= '<br>	'
&= '</ul>'
= '<br>  '
&= '</div>'
= '<br>'
&= '</nav>'


&= '<a class="toggle-btn on-left on-div-edge">'
= '<br> '
&= '<i class="ics-list"></i>'
= '<br>'
&= '</a>'
= '<br>'
&= '<div id="toggle-window" class="toggle-window is-dark on-div-edge">'				
= '<br> '
&= '<a class="toggle-btn-close on-left on-div-edge"><i class="ics-ex"></i></a>'
= '<br>'
&= '</div>'

&= '<div class="loading is-secondary">'
= '<br>  '
&= '<div class="loading-ring"></div>'
= '<br>'
&= '</div>'
= '<br>'
= '<br>'
&= '<div class="loading is-secondary">'
= '<br>  '
&= '<div class="loading-circles"></div>'
= '<br>'
&= '</div>'
&= '<div class="loading-circles"></div>'
= '<br>'
= '<br>'
&= '<div class="loading-fill"></div>'
= '<br>'
= '<br>'
&= '<div class="loading-discs"></div>'
= '<br>'
= '<br>'
&= '<div class="loading-clock"></div>'
= '<br>'
= '<br>'
&= '<div class="loading-start cylinder">'
= '<br>   '
&= '<div class="hand"></div>'
= '<br>'
&= '</div>'
&= '$(document).ready(function(){ $(".loading").delay(100).fadeOut("fast"); });'



-#COPY

&= '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">'
= '<br>'
&= '<html>'
= '<br>'
&= '<head>'
= '<br>'
&= '<meta name="viewport" content="width=device-width, initial-scale=1">'
= '<br>'
&= '<title>flexspace</title>'
= '<br>'
&= '<link rel="stylesheet" href="/css/flexspace.css" type="text/css" >'
= '<br>'
&= '</head>'
= '<br>'
&= '<body>'
= '<br>  '
&= '	<header class="header"></header>'
= '<br>  '
&= '	<section class="hero"></section>'
= '<br>  '
&= '	<section class="section"></section>'
= '<br>  '
&= '	<footer class="footer"></footer>'
= '<br>'
&= '</body>'
= '<br>'
&= '</html>'
= '<br>'


&= '<div class="container">'
= '<br>  '
&= '<div class="box is-alert">.container</div>'
= '<br>'
&= '</div>'
= '<br>'
= '<br>'
&= '<div class="container is-fluid">'
= '<br>  '
&= '<div class="box is-success">.container.is-fluid</div>'
= '<br>'
&= '</div>'


&= '<div class="square is-16x16 box is-accent">16</div>'
= '<br>'
&= '<div class="square is-32x32 box is-accent">32</div>'
= '<br>'
&= '<div class="square is-48x48 box is-accent">48</div>'
= '<br>'
&= '<div class="square is-64x64 box is-accent">64</div>'
= '<br>'
&= '<div class="square is-96x96 box is-accent">96</div>'
= '<br>'
&= '<div class="square is-128x128 box is-accent">128</div>'
= '<br>'
&= '<div class="square is-256x256 box is-accent">256</div>'   
  
&= '<div class="ratio is-1by2 box is-accent">is-1by2</div>'
= '<br>'
&= '<div class="ratio is-3by4 box is-accent">is-3by4</div>'
= '<br>'
&= '<div class="ratio is-1by1 box is-accent">is-1by1</div>'
= '<br>'
&= '<div class="ratio is-4by3 box is-accent">is-4by3</div>'
= '<br>'
&= '<div class="ratio is-3by2 box is-accent">is-3by2</div>'
= '<br>'
&= '<div class="ratio is-16by9 box is-accent">is-16by9</div>'
= '<br>'
&= '<div class="ratio is-2by1 box is-accent">is-2by1</div>' 

&= '<section class="hero is-accent is-bold">'
= '<br>  '
&= '  <div class="hero-body has-text-centered">'
= '<br>    '
&= '    <div class="container">'
= '<br>      '
&= '      <h1>Hero with bold accent color.</h1>'
= '<br>  '
&= '    </div>'
= '<br>  '
&= '    </div>'
= '<br>'
&= '</section>'
  
&= '<section class="hero is-medium has-bkd-pattern-1">'
= '<br>  '
&= '<div class="hero-body has-text-centered">'
= '<br>   '
&= '<div class="container">'
= '<br>     '
&= '<h1 class="box">Medium hero with background pattern</h1>'
= '<br>   '
&= '</div>'
= '<br>  '
&= '</div>'
= '<br>  '
&= '</section>'


&= '<section class="hero is-fullheight has-bkd-image-1">'
= '<br>  '
&= '<div class="hero-head is-white fade-3">'
= '<br>   '
&= '<div class="container">'
= '<br>     '
&= '<h1>Hero head with white color.</h1>'
= '<br>   '
&= '</div>'
= '<br>  '
&= '</div>'
= '<br>  '
&= '<div class="hero-body is-black fade-3">'
= '<br>  '
&= '<div class="container">'
= '<br>  '
&= '<h1 class="hero-title">Fullscreen Image Hero with head, body, and foot.</h1>'
= '<br>  '
&= '</div>'
= '<br>  '
&= '</div>'
= '<br>  '
&= '<div class="hero-foot is-accent fade-1">'
= '<br>  '
&= '<div class="container">'
= '<br>  '
&= '<h1>Hero foot with accent color.</h1>'
= '<br>  '
&= '</div>'
= '<br>  '
&= '</div>'
= '<br>'
&= '</section>'

  